@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

//gobal variables
$family-sans-serif: "Nunito", sans-serif;


// custom tags
$transparent: transparent;
$transparent-invert: findColorInvert($transparent);
$clr-black: #1c1c1c;
$clr-gray: #ececec;
$clr-white: #f7f7f7;

$type-normal: #A8A878;
$type-fire: #F08030;
$type-water: #6890F0;
$type-grass: #78C850;
$type-electric: #F8D030;
$type-ice: #98D8D8;
$type-fighting: #C03028;
$type-poison: #A040A0;
$type-ground: #E0C068;
$type-flying: #A890F0;
$type-psychic: #F85888;
$type-bug: #A8B820;
$type-rock: #B8A038;
$type-ghost: #705898;
$type-dark: #705848;
$type-dragon: #7038F8;
$type-steel: #B8B8D0;
$type-fairy: #F0B6BC;


$custom-colors: (
  "transparent": ($transparent, $transparent-invert),
  "black": ($clr-black, $clr-white),
  "gray": ($clr-gray, $clr-black),
  "white": ($clr-white, $clr-black),
  "normal": ($type-normal, $clr-white),
  "fire": ($type-fire, $clr-white),
  "water": ($type-water, $clr-white),
  "grass": ($type-grass, $clr-white),
  "electric": ($type-electric, $clr-white),
  "ice": ($type-ice, $clr-black),
  "fighting": ($type-fighting, $clr-white),
  "poison": ($type-poison, $clr-white),
  "ground": ($type-ground, $clr-black),
  "flying": ($type-flying, $clr-black),
  "psychic": ($type-psychic, $clr-white),
  "bug": ($type-bug, $clr-white),
  "rock": ($type-rock, $clr-white),
  "ghost": ($type-ghost, $clr-white),
  "dark": ($type-dark, $clr-white),
  "dragon": ($type-dragon, $clr-white),
  "steel": ($type-steel, $clr-white),
  "fairy": ($type-fairy, $clr-black)
) !default;


/* tags */
$tag-radius: 1.5rem;

$title-color:$clr-white;


// cards
$card-radius: 1.5rem;


@import "../../node_modules/bulma/bulma.sass";
